*{
    background: #F3F5FC;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}
html{
    width: 100%;
    height: 100%;
    max-width: 1440px;
    max-height: 1024px;
}
.logo{
    margin-top: 2.2%;
    padding-top: 0.73%;
    margin-left: 0.73%;
    width: 8%;
    position: absolute; 
}
main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 14.64%;
}
.text-area{
    border: none;
    color: #0A3871;
    margin-top: 20.59%;
    text-transform: lowercase;
    resize: none;
}
.text-area::placeholder{color: #0A3871;text-transform: initial;}
.text-area:focus{outline: none;}
.area-informacion{
    display: flex;
    margin-top: 5.8%;
}
.informacion{
    margin-left: 0.73%;
    font-weight: 400;
    font-size: 12px;
}
.mensaje{
    background: white;
    background-image: url("../../assets/img/muneco.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 5.857%;
    /* margin-right: 1.465%; */
    margin-top: 2.197%;
    padding: 0 1.465%;
    position: fixed;
    resize: none;
    height: 92%;
    width: 23.21%;
    background-position: center 30%;
}
.mensaje:focus{
    outline: none;
}
.area-mensaje{
    position: fixed;
    margin-top: 65vh;
    background: transparent;
}
.texto-centrado{
    text-align: center;
    background: transparent;
}
.area-mensaje p:first-child{
    margin-left: 46%;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    width: 70%;
}
.area-mensaje p:nth-child(2){
    margin-left: 41%;
    width: 80%;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.botones{
    display: flex;
}
.btn-desencriptar{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 24px;
    width: 328px;
    transition: 500ms;
}
.btn-desencriptar:hover{
    background: #b2b8c0;;
}
.btn-encriptar{
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
    transition: 500ms;
}
.btn-encriptar:hover{
    background: #082e5b;
}
.area-copiar{
    margin-top: 82vh;
    position: fixed;
    margin-left: 8.65%;
    background: transparent;
}
.invisible{
    display: none;
}
.btn-copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    width: 286px;
    height: 67px;
}
footer {
    padding: 10px 0;
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;   
}
footer > p{
    font-weight: bold;
}
footer > a {
    margin-left: 10px;
}
@media screen and (max-width:768px){
    html{
        max-width: 768px;
        max-height: 1174px;
    }
    body{
        margin: 0 0;
    }
    .logo{
        width: 15%;
        margin-top: 5%;
    }
    main{
        margin: 0 0;
        flex-direction: column;
    }
    .area-formulario{
        margin: 0 5%
    }
    .text-area{
        margin-left:2%;
        margin-bottom: 15vh;
    }
    .botones{
        margin-left: 1%;
    }
    .mensaje{
        margin: 5% 3vh;
        width: 88%;
        height: 25vh;
        background-image: none;
    }
    .area-mensaje{
        position: fixed;
        margin: 14vh 0 0;
        background: transparent;
    }
    .area-mensaje p:first-child{
        margin-left: calc(46%);
        width: 100%;
        font-weight: 700;
        font-size: 28px;
        line-height: 120%;
    }
    .area-mensaje p:nth-child(2){
        margin-left: 46%;
        width: 100%;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
    }
    .area-informacion{
        margin-left: 2%;
    }

    .area-copiar{
        margin: 0 0;
        width: 83%;
    }
    .btn-copiar{
        width: 100%;
        margin-left: 10%;
        margin-top: 20vh;
    }
    footer{
        position: fixed;
        margin-left: 21%;
        margin-top: 29vh;
    }
}
@media screen and (max-width:412px){
    html{
        max-width: 412px;
        max-height: 933px;
    }
    body{
        margin: 0 0;
    }
    .logo{
        width: 20%;
        margin-top: 5%;
    }
    main{
        margin: 0 0;
        flex-direction: column;
    }
    .area-formulario{
        width: 90%;
        margin: 0 5%;
    }
    .text-area{
        margin-top: 10vh;
        margin-bottom: 1vh;
    }
    .botones{
        flex-direction: column;
        margin-left: 6%;
    }
    .btn-desencriptar{
        margin-top: 1vh;
        margin-left: 0;
    }
    .area-mensaje{
        margin-top: 11vh;
        
    }
    .mensaje{
        margin: 3vh 3% 0 4%;
        width: 90%;
        height: 25.5vh;
        background-image: none;
    }
    .area-mensaje p:first-child{
        margin-left: 30%;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        width: 70%;
    }
    .area-mensaje p:nth-child(2){
        margin-left: 30%;
        width: 70%;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
    }
    footer{
        margin-left: 10%;
        display: block;
        flex-wrap: nowrap;
    }
    .mobile-icons{
        margin-top: 2vh;
    }
    .mobile-icons>a>img{
        width: 20px;
        height: 20px;
    }
}